.page__background {
    background: radial-gradient(circle, #bc6df5, #141485);
}

.page__content {
    padding: 20px;

}

.list {
    background-color: transparent;
    background-image: none;
}

.item-player {
    border-radius: 14px;
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
    background: rgba(255, 255, 255, 0.19);
    padding: 30px 24px 25px;
    color: #fff;
    font-size: 32px;
    margin-bottom: 25px;
}

.top-wrap {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.btn-wrap {
    position: fixed;
    bottom: 20px;
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
}

.list-header {
    color: white;
    background-color: transparent;
    background-image: none;
    font-size: 26px;
    font-weight: bold;
}

.header-wrap {
    position: relative;
    margin-bottom: 40px;
    margin-top: 20px;
}

.list-header {
    position: absolute;
    padding: 0 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.list-header,
.list-item {
    text-align: center;
}

.item-wrap {
    height: 300px;
    overflow-y: scroll;
    color: rgba(255, 255, 255, .5);
}

.item-wrap::-webkit-scrollbar {
    display: none;
}

.mood-item-wrap {
    height: 200px;
}

.root-item span {
    display: inline-block;
    width: 100px;
    pointer-events: none;
}

.mood-item span {
    display: inline-block;
    width: 100px;
    pointer-events: none;
}

.item {
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 13px;

}

.item.active {
    background: rgba(247, 249, 255, 0.19);
    color: #fff;
}

.list-item {
    color: rgba(255, 255, 255, .5);
    overflow: hidden;
    border-radius: 10px;
}

.list-item__center {
    justify-content: center;
    background-image: none;
}

.list-item--material {
    background-color: transparent;
}

.list-item__title {
    color: white;
}

.list-item--material:active {
    background-color: #495057;
}



.btn-wrap a {
    text-decoration: none;
}

.button--large--cta {
    padding: 12px 0;
    background-color: #F94B26;
}

.mood-wrap {
    margin-top: 20px;
}




.control-icon {
    width: 30px;
    height: 30px;
}

.control-wrap {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.play-wrap {
    width: 80%;
    display: flex;
    align-items: center;
    border-radius: 13px;
    background: rgba(255, 255, 255, 0.24);
    padding: 13px;
    margin-right: 10px;
}

.progress-container {
    display: flex;
    width: 100%;
    position: relative;
}

.progress {
    flex: 1;
    height: 22px;
    margin-left: 10px;
    z-index: -1;
    position: relative;
}

.cover {
    flex: 1;
    height: 22px;
    width: 100%;
    margin-left: 10px;
    z-index: 1;
    right: 0;
    position: absolute;
}