<ons-page id='SettingsView' class="page__background">
	 <ons-list>
            <div class="header-wrap">
                <ons-list-header>ROOT</ons-list-header>
            </div>
            <div class="item-wrap root-item-wrap">
                <div class="item root-item">
                    <span>C</span>
                </div>
                <div class="item root-item active">
                    <span>C#</span>
                </div>
                <div class="item root-item">
                    <span>D</span>
                </div>
                <div class="item root-item">
                    <span>D#</span>
                </div>
                <div class="item root-item">
                    <span>E</span>
                </div>
                <div class="item root-item">
                    <span>F</span>
                </div>
                <div class="item root-item">
                    <span>F#</span>
                </div>
                <div class="item root-item">
                    <span>G</span>
                </div>
                <div class="item root-item">
                    <span>G#</span>
                </div>
                <div class="item root-item">
                    <span>A</span>
                </div>
                <div class="item root-item">
                    <span>A#</span>
                </div>
                <div class="item root-item">
                    <span>B</span>
                </div>
            </div>
        </ons-list>
        <div class="mood-wrap">
            <ons-list>
                <div class="header-wrap">
                    <ons-list-header>MOOD</ons-list-header>
                </div>
                <div class="item-wrap mood-item-wrap">
                    <div class="item mood-item">
                        <span>BRIGHT</span>
                    </div>
                    <div class="item active mood-item">
                        <span>DARK</span>
                    </div>
                    <div class="item mood-item">
                        <span>JOYOUS</span>
                    </div>
                </div>
            </ons-list>
        </div>
        <div class="btn-wrap">
            
            <ons-button onclick="app.currentView.generateChords()" class="ok" modifier="large--cta">OK</ons-button>
            
        </div>
</ons-page>
